.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 236, 236);
  padding: 6vw 6vw;
}
  .animals-section-text{
    margin-bottom: 2vw;
  }

.form-section h2 {
  margin-bottom: 1vw;
}

.animal-form {
  width: 40vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
.form-section {
  padding: 20vw 6vw;
}

  .animal-form {
    width: 80vw;
  }
  .animals-section-text{
    margin-bottom: 10vw;
  }
}
