.auth-section {
  display: flex;
  position: relative;
  height: 92vh;
  overflow: hidden;
  background-color: #f4f3f2;
}
.switch-button {
  width: max-content;
}

.auth-image-div {
  width: 60vw;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.auth-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  filter: brightness(60%);
}

.authentication-div {
  width: 50vw;
  position: relative;
  z-index: 1;
  margin-left: -10vw;
  background-color: #f4f3f2;
  border-radius: 3vw;
  display: flex;
  justify-content: center;
}

.authentication form {
  margin-bottom: 2vw;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .auth-section {
    flex-direction: column-reverse;
    align-items: center;
  }
  .auth-image-div {
    width: 100vw;
    margin-top: -10vw;
  }
  .authentication-div {
    height: 150vw;
    margin: 0vw;
    width: 100vw;
  }
}

@media only screen and (max-width: 767px) {
  .auth-section {
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
  }
  .auth-image-div {
    width: 100vw;
    margin-top: -10vw;
  }
  .auth-image {
    height: 80vw;
  }
  .authentication-div {
    padding: 10vh 0vw;
    margin: 0vw;
    width: 100vw;
  }
  .authentication form {
    margin-bottom: 6vw;
    text-align: center;
  }
}
