/* Basic Buttons */


.button {
    font: inherit;
    font-size: 1vw;
    padding: 0.6vw 1.5vw !important;
    border-radius: 0.5vw;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    z-index: 1;
  }

  /* Brown */

  .button-brown{
    background-color: #8A5D3B;
    color: white;
  }

  .button-brown:hover{
    background-color: #7a5030;
  }

  /* Inverse */

  .button-inverse{
    border: 2px solid #381742;
    color: #381742;
  }

  .button-inverse:hover{
    color: #ffffff;
    background-color: #381742;
  }

  /* Secondary */
  .button-basic{
    background-color: #CB534E;
    color: white;
  }

  .button-basic:hover{
    background-color: #a43b37;
  }
  .button:active {
    background: #7a5030;
    border-color: #7a5030;
  }

 /* Disabled */
.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

 /* Link */

.button-link{
    background-color: transparent;
    border-bottom: 2px solid #000000;
    border-radius: 0%;
    margin: 0vw 0.5vw;
    padding: 0%;
}


@media only screen and (max-width: 768px) {
  .button {
    font-size: 2vw !important;
    padding: 1vw 2vw 1vw 2vw !important;
    margin: auto;
    width: 15vw;
  }
}

